<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <% if (!contact) { %>
        <div class="alert alert-danger" role="alert">
          404: Page Not Found<a href="/contact" class="alert-link"> &laquo; Kembali</a>.
        </div>
      <% } else {%>
      <h2>Detail Contact</h2>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= contact.nama %> </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= contact.nohp %> </h6>
          <p class="card-text"><%= contact.email %> </p>
          <form action="/contact?_method=DELETE" method="POST" class="d-inline" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="nama" value="<%= contact.nama %>" />
            <button type="submit" class="btn btn-danger badge mr-4" onclick="return confirm('Yaikin ?');">Delete</button>
          </form>
          <a href="/contact/edit/<%= contact.nama %>" class="btn btn-info badge mr-4">Update</a>
          <a href="/contact" class="card-link d-block mt-4">&laquo; Kembali</a>
        </div>
      </div>
      <% } %> 
    </div>
  </div>
</div>
